---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
        {{ content }}
    </div>
  </div>
  <a href=”#” class=”scrollToTop” style=”position:fixed;bottom:20px;right:20px;display:none”>
     <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-arrow-up fa-stack-1x fa-inverse"></i>
    </span>
  </a>
  < script type=”text/javascript” >
    jQuery(document).ready(function($){
    $(window).scroll(function(){
    if ($(this).scrollTop() > 400) {$(‘.scrollToTop’).fadeIn();} else
    {$(‘.scrollToTop’).fadeOut(“slow”);}});
    $(‘.scrollToTop’).click(function()
    {$(‘html,body’).animate({scrollTop : 0},800);return false;});
    });
  < /script >

  {% include footer.html %}

{% include scripts.html %}
</body>

</html>

